.DatePicker-wrapper {
    width: 30%;
    height: 30%;
    background: red;
    display: flex;
    flex-direction: column;
}
.DatePicker-selectors-wrapper {

}

.DatePicker-inferiorSection-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color:green;
}
.DatePicker-inferiorSection-days-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    overflow: auto;
}

.DatePicker-days-day {
    margin: 1%;
    width: 12%;
    background-color: rosybrown;
}

.DatePicker-days-day--active {
    background-color: yellow;
}

.DatePicker-days-day p {
    margin: 0;
    text-align: center;
}

.DatePicker-inferiorSection-yearsOptions-wrapper {
    position: absolute;
}